<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chez Aurel</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="global-container">
        <!-- Preciser le role pour l'accessibilite et l'aria-label pour donner une precision sur le role -->
        <header role="banner">
            <h1><a href="#">Chez Aurel</a></h1>
            <nav id="nav-header" role="navigation" aria-label="Menu principal">
                <ul id="ul-header">
                    <li class="li-header"><a href="#">Réserver une table</a></li>
                    <li class="li-header"><a href="#">Commander</a></li>
                    <li class="li-header"><a href="#">Accueil</a></li>
                    <li class="li-header"><a href="#">La carte</a></li>
                    <li class="li-header"><a href="#">Le blog</a></li>
                    <li class="li-header"><a href="#">Connexion</a></li>
                </ul>
            </nav>
        </header>

        <main role="main"></main>

        <footer role="contentinfo">
            <nav id="footer-nav" role="navigation" aria-label="Menu du pied de page">
                <ul id="footer-ul">
                    <li class="footer-li"><a href="#">Mentions légales</a></li>
                    <li class="footer-li"><a href="#">Politique de traitement des données</a></li>
                    <li class="footer-li"><a href="#">Contacts</a></li>
                </ul>
            </nav>

        </footer>
    </div>

</body>

</html>