<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chez Aurel</title>
</head>
<body>

    <!-- Preciser le role pour l'accessibilite et l'aria-label pour donner une precision sur le role -->
    <header role="banner">
        <h1>Chez Aurel</h1>
        <nav id="nav-header" role="navigation" aria-label="Menu principal">
            <ul id="ul-header">
                <li class="li-header"><a href="#">Item 1</a></li>
                <li class="li-header"><a href="#">Item 2</a></li>
                <li class="li-header"><a href="#">Item 3</a></li>
                <li class="li-header"><a href="#">Item 4</a></li>
                <li class="li-header"><a href="#">Item 5</a></li>
                <li class="li-header"><a href="#">Item 6</a></li>
            </ul>
        </nav>
    </header>

    <main role="main">
        <section id="main-section">
            <h2>Un truc</h2>
        </section>
    </main>

    <footer role="contentinfo">
        <nav id="footer-nav" role="navigation" aria-label="Menu du pied de page">
            <ul id="footer-ul">
                <li class="footer-li"><a href="#">Item 1</a></li>
                <li class="footer-li"><a href="#">Item 2</a></li>
                <li class="footer-li"><a href="#">Item 3</a></li>
            </ul>
        </nav>

    </footer>
    
</body>
</html>