@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&family=Montserrat&display=swap');

/****************************************************/
/********************** GLOBAL **********************/
/****************************************************/

:root{
    --black-color: #6b6b6b;
    --gold-color: #D9A700;
    --white-color: #f7f7f7;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 62,5%;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white-color);
}

#global-container {
    width: 92vw;
    height: 100vh;
    margin: 0 4vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6vw 1fr 5vw;
    grid-template-areas : "H" "M" "F";
    row-gap: 1vw;
}

ul, li{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    color: var(--black-color);
}
/****************************************************/
/********************** HEADER **********************/
/****************************************************/

/*  HEADER */
#global-container>header {
    grid-area: H;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

/*  HEADER > H1 */
#global-container>header>h1 {
    border-bottom: 0.15vw solid var(--gold-color);
    height: 5.3vw;
}

/*  HEADER > H1 > A */
#global-container>header>h1>a {
    font-family: 'Miss Fajardose', cursive;
    font-weight: normal;
    font-size: 5vw;
    letter-spacing: 0.3vw;
}

/*  HEADER > NAV */
#nav-header {
    display: flex;
    align-items: center;
}

/*  HEADER > NAV > UL */
#ul-header{
    position: relative;
    top: 0.8vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex-direction: row;
    align-items: stretch;
}

/*  HEADER > NAV > UL > LI */
#ul-header li {
    border: 1px solid var(--black-color);
    padding: 1.2vw 1.6vw;
}

#ul-header li:first-child{
    border: 1px solid var(--gold-color);
}

#ul-header li:nth-child(2){
    border: 1px solid var(--gold-color);
    background-color: var(--gold-color);
    margin: auto 1rem;
}

#ul-header li:nth-last-child(-n+4){
    border-right: none;
}

#ul-header li:nth-last-child(-n+3){
    border-left: none;
}

#ul-header li:nth-child(6){
    border-right: 1px solid var(--black-color);
}

/*  HEADER > NAV > UL > LI > A */
#ul-header li>a {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}

#ul-header li:nth-child(2) a{
    color: var(--white-color);
}

#ul-header li:first-child a:hover{
    border-bottom: 1px solid var(--gold-color);
}

#ul-header li:nth-child(2) a:hover{
    border-bottom: 1px solid var(--white-color);
}

#ul-header li:nth-last-child(-n+4) a:hover{
    border-bottom: 1px solid var(--gold-color);
}

/****************************************************/
/*********************** MAIN ***********************/
/****************************************************/

/* PAGE INDEX */
#global-container>#main-index {
    grid-area: M;
    background-image: url(../../../IMAGES/HOME/background-resto9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    height: 100%;
}

/* PAGE MENU */
#global-container>#main-menu {
    grid-area: M;
    background-image: url(../../../IMAGES/DISHES/cave-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    height: 100%;
}

/****************************************************/
/********************** FOOTER **********************/
/****************************************************/

/* FOOTER */
#global-container>footer {
    grid-area: F;
}

/* FOOTER > NAV */
#footer-nav {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* FOOTER > NAV > UL */
#footer-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 1vw;
}

/* FOOTER > NAV > UL > LI > A */
.footer-li a{
    margin-right: 3vw;
    text-transform: uppercase;
}

.footer-li a:hover{
    border-bottom: 1px solid var(--gold-color);
}